#blog {
    h1 {
        margin: 0;
        color: #fff;
        background-color: #323469;
        max-width: 400px;
        padding: 15px;
        text-align: center;
        margin-bottom: 50px;
        font-weight: 400;
    }

    .posts {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        padding: 10px 20px;
    }

    .box-pagination {
        width: 100;
        display: flex;
        justify-content: center;

        .pagination {
            background-color: #323469;
            color: #fff;
            border-radius: 5px;
            display: flex;
            .active {
                a {
                    background-color: #ff9b23;
                }
            }
            .disabled {
                a {
                    background-color: #80808075 !important;
                }
            }
        }
    }
}
