#formContact {
    max-width: 300px;
    background-color: #323469;
    padding: 30px 20px;

    h2,
    p {
        margin: 0;
        margin-bottom: 30px;
    }

    h2 {
        color: #ff9b23;
    }

    p {
        color: #fff;
    }
}
