#seeMore {
    border: 4px solid #323469;
    position: relative;
    margin: -480px 0 0 100px;
    padding: 15px 20px;
    max-width: 350px;
    z-index: 5;
    p,
    h1 {
        margin: 0;
        color: #323469;
    }

    p {
        font-family: roboto;
        font-size: 1.8rem;
        margin-bottom: -10px;
    }
    h1 {
        font-family: fantasy;
        font-size: 8rem;
        margin-bottom: 50px;
        line-height: 1.2;
    }

    .btn-consult {
        text-decoration: none;
        display: flex;
        padding: 10px 20px;
        margin: 30px auto;
        background: #ff9b23;
        color: #fff;
        outline: none;
        border: unset;
        font-size: 1.6rem;
        cursor: pointer;
    }

    @media (max-width: 965px) {
        margin: -480px auto 0;
    }
}
